* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1c1c1c;
}

.container {
  min-height: 100vh;
  width: 550px;
  background-color: #f9fafb;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(220px, 25vh) 1fr;
  grid-template-areas:
    "top-search"
    "movie-list";
}

.top-search {
  grid-area: top-search;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/andre-tan-THJJRUhNlEc-unsplash.jpg);
  background-color: #cecece;
  background-size: cover;
  background-position: 50% 20%;
  display: grid;
  grid-template-columns: 4% repeat(2, minmax(max-content, 1fr)) 4%;
  grid-template-areas:
    ". header1 header2 ."
    ". search search . ";
  column-gap: 0.5em;
  justify-items: end;
  align-items: end;
  position: relative;
}

.top-search h1,
.top-search h2 {
  margin-top: 4em;
}

.top-search h1 {
  margin: 0;
  grid-area: header1;
  font-size: 2.6875rem;
}

.top-search h2 {
  grid-area: header2;
  justify-self: end;
  font-size: 0.875rem;
}

.search-bar {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 50px;
  grid-area: search;
  width: 100%;
}

@media (min-height: 880px) {
  .search-bar {
    top: 6vh;
  }
}
@media (min-height: 1150px) {
  .search-bar {
    top: 8vh;
  }
}

@media (min-height: 1500px) {
  .search-bar {
    top: 9vh;
  }
}

.search-bar i,
.search-bar input,
.search-bar button {
  border-color: #d1d5db;
  border-width: 1px;
  border-style: solid;
  padding: 0.75rem;
  margin: 0;
  outline: 0;
  font-weight: 600;
}

.search-bar input,
.search-bar button {
  font-size: 0.875rem;
}

.search-bar i {
  color: #9ca3af;
  background-color: #fff;
  border-right: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-bar input {
  font-family: "Inter", sans-serif;
  width: 100%;
  color: #6b7280;
  border-left: 0;
  border-right: 0;
}

.search-bar button {
  font-family: "Inter", sans-serif;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0.75em 2em;
  background: #f9fafb;
  color: #374151;
}

.top-search a {
  text-decoration: none;
  color: #ffffff;
}

.movie-list {
  margin-top: 3em;
  grid-area: movie-list;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 70vh;
}

.status {
  margin: auto auto;
  ========display: flex;
  align-itemsz: center;
  flex-flow: column nowrap;
  max-width: 60%;
  text-align: center;
}

.fa-film {
  font-size: 5rem;
}

.fa-film,
.status-text {
  color: #dfdddd;
}

.status-text {
  font-weight: 700;
  margin-top: 0.5em;
  font-size: 1.125rem;
}

.movie-card {
  width: 88%;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: auto max-content max-content 1fr auto;
  grid-template-areas:
    "image . ."
    "image info1 info1"
    "image info2 info2"
    "image desc desc"
    "image . .";
  gap: 0.75em;
  margin-bottom: 1.25em;
}

.movie-card:not(:last-of-type) {
  padding-bottom: 1.25em;
  border-bottom: 1px #cecece solid;
}

.movie-card p,
.movie-card h3 {
  display: inline-block;
  margin: 0;
}

.movie-card p {
  font-size: 0.75rem;
}

.movie-card h3 {
  font-size: 1.125rem;
}

.movie-card img {
  aspect-ratio: 27/40;
  width: 100px;
  grid-area: image;
  align-self: center;
}

.movie-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: baseline;
  gap: 1em;
}

.watchlist-btn,
.movie-rating {
  margin-left: auto;
  white-space: nowrap;
}

.movie-watchlist-btn{
  cursor: pointer;
}

.movie-watchlist-btn:hover{
  opacity: 70%;
}

.movie-card .movie-info:nth-of-type(1) {
  grid-area: info1;
}

.movie-card .movie-info:nth-of-type(2) {
  font-size: 0.75rem;
  grid-area: info2;
}

.movie-card .movie-desc {
  font-size: 0.8125rem;
  grid-area: desc;
}

.fa-star {
  margin-right: 4px;
  color: gold;
}

.fa-plus {
  margin-right: 4px;
  color: white;
  background-color: #1c1c1c;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 50%;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}
